html,
body,
#root,
.app,
.body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.app {
  font-family: 'Open Sans', sans-serif;
}
.nav {
  /* background: blue; */
  border-bottom: 2px solid #ffd31f;
  padding: 20px;
  display: flex;
  justify-content: center;
  color:white;
  font-size: 40px;

}
.body {
  display: flex;
  padding: 10px;
  height: calc(100% - 57px);
  background-color: orange;
  box-sizing: border-box;
  color:white;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.a{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  border: 2px solid black;
  background-color: white;

}

.b{
  padding: 40px;
  color:red;
}

.c{
  color:green;
}

/* .sidebar {
  border: 2px solid #1f73ff;
  margin-right: 10px;
  background: #cbdfff;
  max-height: 120px;
  flex-basis: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.sidebar .stats {
  text-transform: lowercase;
  font-size: 12px;
}

.user-avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.user-stats {
  width: 100%;
}
.user-stats > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
